<section class="about section" data-anchor="about">
  <div class="about__inner">
    <div class="about__subtitle subtitle">About Us</div>
    <h3 class="about__title title-3">Who Are We?</h3>
    <p class="about__text mb-32">
      If you regularly take notes, with this app, you can organise them by creating cross-references
      and adding tags. Of particular note is the ability to combine multiple messages into one. This
      is a feature that I have missed in many note-taking apps. You can see that the developers have
      thought everything through to the last detail. It is a nice touch.
    </p>
    @@include('./default-link-green.html', {'text': 'Our Products', 'link': '#product'})
  </div>
</section>
