<header class="header">
  <div class="header-container">
    <div class="header__inner">
      <a href="#home" class="header__logo">
        <img class="pc" src="@img/global/logo-pc.svg" alt="" />
        <img class="mobile" src="@img/global/logo-mobile.svg" alt="" />
      </a>
      <div class="header__menu">
        <a href="#product" class="header__menu-link"> Products </a>
        <a href="#about" class="header__menu-link"> About Us </a>
        <a href="#contacts" class="header__menu-link header__menu-link--accent"> Contact Us </a>
      </div>
      <div class="header__mobile-burger">
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</header>
<div class="header-mobile">
  <div class="header-mobile__links">
    <a href="#product" class="header-mobile__link title-1"> Products </a>
    <a href="#about" class="header-mobile__link title-1"> About Us </a>
    <a href="#contacts" class="header-mobile__link title-1"> Contact Us </a>
  </div>
</div>
