<header class="header">
  <div class="header-container">
    <div class="header__inner">
      <a href="#home" class="header__logo">
        <img src="@img/global/logo-pc.svg" alt="" />
      </a>
      <div class="header__menu">
        <a href="#product" class="header__menu-link"> Products </a>
        <a href="#about" class="header__menu-link"> About Us </a>
        <a href="#contacts" class="header__menu-link header__menu-link--accent"> Contact Us </a>
      </div>
    </div>
  </div>
</header>
