<div id="read-more-1" class="readMore-popup mfp-with-anim mfp-hide">
  <div class="readMore-popup__close" data-popup="close">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect
        x="-0.041748"
        y="22.5857"
        width="32"
        height="2"
        rx="1"
        transform="rotate(-45 -0.041748 22.5857)"
        fill="#006657"
      />
      <rect
        x="1.37256"
        width="32"
        height="2"
        rx="1"
        transform="rotate(45 1.37256 0)"
        fill="#006657"
      />
    </svg>
  </div>
  <h2 class="readMore-popup__title title-2 mb-8">Subtitle of a news</h2>
  <p class="readMore-popup__date mb-64">29.08.2022</p>
  <p class="readMore-popup__text mb-32">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
    consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim
    mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
    velit mollit. Exercitation veniam consequat sunt nostrud amet.
  </p>
  <div class="readMore-popup__image mb-32">
    <img src="@img/content/news-preview-1.jpg" alt="" />
  </div>
  <p class="readMore-popup__text">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
    consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim
    mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
    velit mollit. Exercitation veniam consequat sunt nostrud amet.
  </p>
</div>
