<section class="news section" data-anchor="news">
  <div class="news__inner">
    <div class="news__box news-info box-beige">
      <div class="news__box-inner">
        <div class="news__subtitle subtitle">News</div>
        <h2 class="news__title title-2">What’s New?</h2>
        <a href="#" class="news__button default-button default-button--arrow">
          Contact Us <img src="@img/icons/default-arrow.svg" alt="" />
        </a>
      </div>
    </div>
    <div class="news-slider">
      <div class="swiper-wrapper">
        <div class="news__box box-green swiper-slide">
          <div class="news__box-inner">
            <div class="news__item">
              <div class="news__item-image">
                <img src="@img/content/news-preview-1.jpg" alt="" />
              </div>
              <h3 class="news__item-title title-3">Subtitle here in one line only</h3>
              <p class="news__item-text">
                If you regularly take notes, with this app, you can organise them by creating
                cross-references and adding tags. Of particular note is the ability to combine
                multiple messages into one. This is a feature that I have missed in many note-taking
                apps. You can see that the developers have thought everything through to the last
                detail. It is a nice touch. If you regularly take notes, with this app, you can
                organise them by creating cross-references and adding tags. Of particular note is
                the ability to combine multiple messages into one. This is a feature that I have
                missed in many note-taking apps. You can see that the developers have thought
                everything through to the last detail. It is a nice touch. If you regularly take
                notes, with this app, you can organise them by You can see that the developers have
                thought everything through to the last detail. It is a nice touch. If you regularly
                take notes, with this app, you can
              </p>
              <div class="news__item-controls">
                <div class="news__item-date">09.03.2022</div>
                <a href="#read-more-1" data-effect="mfp-zoom-in" class="default-link-white open-popup">
                  Read More
                  <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M12.6999 12.2487H3.74988"
                      stroke="#006657"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M12.6998 7.24768V17.2497L20.6368 12.2487L16.6683 9.74818L15.6762 9.12306"
                      stroke="#006657"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="news__box box-green swiper-slide">
          <div class="news__box-inner">
            <div class="news__item">
              <div class="news__item-image">
                <img src="@img/content/news-preview-1.jpg" alt="" />
              </div>
              <h3 class="news__item-title title-3">Subtitle here in one line only</h3>
              <p class="news__item-text">
                If you regularly take notes, with this app, you can organise them by creating
                cross-references and adding tags. Of particular note is the ability to combine
                multiple messages into one. This is a feature that I have missed in many note-taking
                apps. You can see that the developers have thought everything through to the last
                detail. It is a nice touch. If you regularly take notes, with this app, you can
                organise them by creating cross-references and adding tags. Of particular note is
                the ability to combine multiple messages into one. This is a feature that I have
                missed in many note-taking apps. You can see that the developers have thought
                everything through to the last detail. It is a nice touch. If you regularly take
                notes, with this app, you can organise them by You can see that the developers have
                thought everything through to the last detail. It is a nice touch. If you regularly
                take notes, with this app, you can
              </p>
              <div class="news__item-controls">
                <div class="news__item-date">09.03.2022</div>
                <a href="#read-more-1" data-effect="mfp-zoom-in" class="default-link-white open-popup">
                  Read More
                  <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M12.6999 12.2487H3.74988"
                      stroke="#006657"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M12.6998 7.24768V17.2497L20.6368 12.2487L16.6683 9.74818L15.6762 9.12306"
                      stroke="#006657"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="news__box box-green swiper-slide">
          <div class="news__box-inner">
            <div class="news__item">
              <div class="news__item-image">
                <img src="@img/content/news-preview-1.jpg" alt="" />
              </div>
              <h3 class="news__item-title title-3">Subtitle here in one line only</h3>
              <p class="news__item-text">
                If you regularly take notes, with this app, you can organise them by creating
                cross-references and adding tags. Of particular note is the ability to combine
                multiple messages into one. This is a feature that I have missed in many note-taking
                apps. You can see that the developers have thought everything through to the last
                detail. It is a nice touch. If you regularly take notes, with this app, you can
                organise them by creating cross-references and adding tags. Of particular note is
                the ability to combine multiple messages into one. This is a feature that I have
                missed in many note-taking apps. You can see that the developers have thought
                everything through to the last detail. It is a nice touch. If you regularly take
                notes, with this app, you can organise them by You can see that the developers have
                thought everything through to the last detail. It is a nice touch. If you regularly
                take notes, with this app, you can
              </p>
              <div class="news__item-controls">
                <div class="news__item-date">09.03.2022</div>
                <a href="#read-more-1" data-effect="mfp-zoom-in" class="default-link-white open-popup">
                  Read More
                  <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M12.6999 12.2487H3.74988"
                      stroke="#006657"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M12.6998 7.24768V17.2497L20.6368 12.2487L16.6683 9.74818L15.6762 9.12306"
                      stroke="#006657"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
