<section class="news">
  <div class="news__inner">
    <div class="news__box box-beige">
      <div class="news__box-inner">
        <div class="news__subtitle subtitle">News</div>
        <h2 class="news__title title-2">What’s New?</h2>
        <a href="#" class="news__button default-button default-button--arrow">
          Contact Us <img src="@img/icons/default-arrow.svg" alt="" />
        </a>
      </div>
    </div>
    <div class="news__box box-green">
      <div class="news__box-inner">
        <div class="news__item">
          <div class="news__item-image">
            <img src="@img/content/news-preview-1.jpg" alt="" />
          </div>
          <h3 class="news__item-title title-3">Subtitle here in one line only</h3>
          <p class="news__item-text">
            If you regularly take notes, with this app, you can organise them by creating
            cross-references and adding tags. Of particular note is the ability to combine multiple
            messages into one. This is a feature that I have missed in many note-taking apps. You
            can see that the developers have thought everything through to the last detail. It is a
            nice touch. If you regularly take notes, with this app, you can organise them by
            creating cross-references and adding tags. Of particular note is the ability to combine
            multiple messages into one. This is a feature that I have missed in many note-taking
            apps. You can see that the developers have thought everything through to the last
            detail. It is a nice touch. If you regularly take notes, with this app, you can organise
            them by You can see that the developers have thought everything through to the last
            detail. It is a nice touch. If you regularly take notes, with this app, you can
          </p>
          <div class="news__item-controls">
            <div class="news__item-date">09.03.2022</div>
            @@include('./default-link-white.html', {'text': 'Read More', 'link': '#'})
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
