<section class="product section" data-anchor="product">
  <div class="product-mobile__inner">
    <div class="product-mobile__slider mb-64">
      <div class="swiper-wrapper">
        <div class="product-mobile__item swiper-slide">
          <div class="product-mobile__item-image mb-64">
            <img src="@img/content/product-1.jpg" alt="product-image" />
          </div>
          <div class="product-mobile__item-wrapper">
            <div class="product-mobile__item-tag mb-16">Premium</div>
            <h2 class="product-mobile__item-title title-1 mb-24">The Name of a Product</h2>
            <p class="product-mobile__item-text mb-24">
              If you regularly take notes, with this app, you can organise them by creating
              cross-references and adding tags. Of particular note is the ability to combine
              multiple messages into one.
            </p>
            <div class="product-mobile__item-benefit mb-24">
              <div class="product-mobile__item-benefitIcon mr-16">
                <svg
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M19.9997 25.0001C26.443 25.0001 31.6663 19.7767 31.6663 13.3334C31.6663 6.89009 26.443 1.66675 19.9997 1.66675C13.5564 1.66675 8.33301 6.89009 8.33301 13.3334C8.33301 19.7767 13.5564 25.0001 19.9997 25.0001Z"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.6837 23.15L11.667 38.3333L20.0003 33.3333L28.3337 38.3333L26.317 23.1333"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              Secondary advantage written in two lines or in a single
            </div>
            <div class="product-mobile__item-benefit">
              <div class="product-mobile__item-benefitIcon mr-16">
                <svg
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M19.9997 25.0001C26.443 25.0001 31.6663 19.7767 31.6663 13.3334C31.6663 6.89009 26.443 1.66675 19.9997 1.66675C13.5564 1.66675 8.33301 6.89009 8.33301 13.3334C8.33301 19.7767 13.5564 25.0001 19.9997 25.0001Z"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.6837 23.15L11.667 38.3333L20.0003 33.3333L28.3337 38.3333L26.317 23.1333"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              Secondary advantage written in two lines or in a single
            </div>
            @@include('./default-link-white.html', {'text': 'Contact Us', link: '#contacts'})
          </div>
        </div>
        <div class="product-mobile__item swiper-slide">
          <div class="product-mobile__item-image mb-64">
            <img src="@img/content/product-1.jpg" alt="product-image" />
          </div>
          <div class="product-mobile__item-wrapper">
            <div class="product-mobile__item-tag mb-16">Premium</div>
            <h2 class="product-mobile__item-title title-1 mb-24">The Name of a Product</h2>
            <p class="product-mobile__item-text mb-24">
              If you regularly take notes, with this app, you can organise them by creating
              cross-references and adding tags. Of particular note is the ability to combine
              multiple messages into one.
            </p>
            <div class="product-mobile__item-benefit mb-24">
              <div class="product-mobile__item-benefitIcon mr-16">
                <svg
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M19.9997 25.0001C26.443 25.0001 31.6663 19.7767 31.6663 13.3334C31.6663 6.89009 26.443 1.66675 19.9997 1.66675C13.5564 1.66675 8.33301 6.89009 8.33301 13.3334C8.33301 19.7767 13.5564 25.0001 19.9997 25.0001Z"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.6837 23.15L11.667 38.3333L20.0003 33.3333L28.3337 38.3333L26.317 23.1333"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              Secondary advantage written in two lines or in a single
            </div>
            <div class="product-mobile__item-benefit">
              <div class="product-mobile__item-benefitIcon mr-16">
                <svg
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M19.9997 25.0001C26.443 25.0001 31.6663 19.7767 31.6663 13.3334C31.6663 6.89009 26.443 1.66675 19.9997 1.66675C13.5564 1.66675 8.33301 6.89009 8.33301 13.3334C8.33301 19.7767 13.5564 25.0001 19.9997 25.0001Z"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.6837 23.15L11.667 38.3333L20.0003 33.3333L28.3337 38.3333L26.317 23.1333"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              Secondary advantage written in two lines or in a single
            </div>
            @@include('./default-link-white.html', {'text': 'Contact Us', link: '#contacts'})
          </div>
        </div>
        <div class="product-mobile__item swiper-slide">
          <div class="product-mobile__item-image mb-64">
            <img src="@img/content/product-1.jpg" alt="product-image" />
          </div>
          <div class="product-mobile__item-wrapper">
            <div class="product-mobile__item-tag mb-16">Premium</div>
            <h2 class="product-mobile__item-title title-1 mb-24">The Name of a Product</h2>
            <p class="product-mobile__item-text mb-24">
              If you regularly take notes, with this app, you can organise them by creating
              cross-references and adding tags. Of particular note is the ability to combine
              multiple messages into one.
            </p>
            <div class="product-mobile__item-benefit mb-24">
              <div class="product-mobile__item-benefitIcon mr-16">
                <svg
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M19.9997 25.0001C26.443 25.0001 31.6663 19.7767 31.6663 13.3334C31.6663 6.89009 26.443 1.66675 19.9997 1.66675C13.5564 1.66675 8.33301 6.89009 8.33301 13.3334C8.33301 19.7767 13.5564 25.0001 19.9997 25.0001Z"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.6837 23.15L11.667 38.3333L20.0003 33.3333L28.3337 38.3333L26.317 23.1333"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              Secondary advantage written in two lines or in a single
            </div>
            <div class="product-mobile__item-benefit">
              <div class="product-mobile__item-benefitIcon mr-16">
                <svg
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M19.9997 25.0001C26.443 25.0001 31.6663 19.7767 31.6663 13.3334C31.6663 6.89009 26.443 1.66675 19.9997 1.66675C13.5564 1.66675 8.33301 6.89009 8.33301 13.3334C8.33301 19.7767 13.5564 25.0001 19.9997 25.0001Z"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.6837 23.15L11.667 38.3333L20.0003 33.3333L28.3337 38.3333L26.317 23.1333"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              Secondary advantage written in two lines or in a single
            </div>
            @@include('./default-link-white.html', {'text': 'Contact Us', link: '#contacts'})
          </div>
        </div>
      </div>
    </div>
    <div class="product-mobile__slider-navigation">
      <div class="product-mobile__slider-navigationPrev">
        <svg
          width="40"
          height="40"
          viewBox="0 0 40 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18.8336 19.5812L33.7502 19.5812"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M18.8337 11.2462L18.8337 27.9162L5.60541 19.5812L12.2196 15.4137L13.8731 14.3718"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="product-mobile__slider-pagination"></div>
      <div class="product-mobile__slider-navigationNext">
        <svg
          width="40"
          height="40"
          viewBox="0 0 40 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M21.1664 19.5812L6.24976 19.5812"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M21.1663 11.2462L21.1663 27.9162L34.3946 19.5812L27.7804 15.4137L26.1269 14.3718"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
  </div>
  <div class="product__inner">
    <div class="product-navigation">
      <div class="product-slider-next mb-32">
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.6649 15.0669L15.6649 27.0002"
            stroke="#006657"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M8.99695 15.0669L22.3329 15.0669L15.6649 4.48427L12.3309 9.7756L11.4975 11.0984"
            stroke="#006657"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="product-slider-prev">
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.6649 16.9331L15.6649 4.99976"
            stroke="#006657"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M8.99695 16.9331L22.3329 16.9331L15.6649 27.5157L12.3309 22.2244L11.4975 20.9016"
            stroke="#006657"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
    <div class="product__info-slider">
      <div class="swiper-wrapper">
        <div class="product__box box-green product-info-box swiper-slide">
          <div class="product__info">
            <div class="product__info-tag">Premium</div>
            <h2 class="product__info-title title-2 mb-24">
              The Name <br />
              of a Product
            </h2>
            <p class="product__info-text mb-32">
              If you regularly take notes, with this app, you can organise them by creating
              cross-references and adding tags. Of particular note is the ability to combine
              multiple messages into one.
            </p>
            @@include('./default-link-white.html', {'text':'Contact Us', 'link':'#contacts'})
          </div>
        </div>
        <div class="product__box box-green product-info-box swiper-slide">
          <div class="product__info">
            <div class="product__info-tag">Premium</div>
            <h2 class="product__info-title title-2 mb-24">
              The Name <br />
              of a Product
            </h2>
            <p class="product__info-text mb-32">
              If you regularly take notes, with this app, you can organise them by creating
              cross-references and adding tags. Of particular note is the ability to combine
              multiple messages into one.
            </p>
            @@include('./default-link-white.html', {'text':'Contact Us', 'link':'#contacts'})
          </div>
        </div>
        <div class="product__box box-green product-info-box swiper-slide">
          <div class="product__info">
            <div class="product__info-tag">Premium</div>
            <h2 class="product__info-title title-2 mb-24">
              The Name <br />
              of a Product
            </h2>
            <p class="product__info-text mb-32">
              If you regularly take notes, with this app, you can organise them by creating
              cross-references and adding tags. Of particular note is the ability to combine
              multiple messages into one.
            </p>
            @@include('./default-link-white.html', {'text':'Contact Us', 'link':'#contacts'})
          </div>
        </div>
      </div>
    </div>
    <div class="product__items-slider">
      <div class="swiper-wrapper">
        <div class="product__box box-green swiper-slide">
          <div class="product__item">
            <div class="product__item-image">
              <img src="@img/content/product-1.jpg" alt="product-1" />
            </div>
            <div class="product__item-info">
              <div class="product__item-block">
                <img src="@img/icons/benefit.svg" alt="icon" />
                <p>
                  Secondary advantage written in two <br />
                  lines or in a single
                </p>
              </div>
              <div class="product__item-block">
                <img src="@img/icons/benefit.svg" alt="icon" />
                <p>
                  Secondary advantage written in two <br />
                  lines or in a single
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="product__box box-green swiper-slide">
          <div class="product__item">
            <div class="product__item-image">
              <img src="@img/content/product-1.jpg" alt="product-1" />
            </div>
            <div class="product__item-info">
              <div class="product__item-block">
                <img src="@img/icons/benefit.svg" alt="icon" />
                <p>
                  Secondary advantage written in two <br />
                  lines or in a single
                </p>
              </div>
              <div class="product__item-block">
                <img src="@img/icons/benefit.svg" alt="icon" />
                <p>
                  Secondary advantage written in two <br />
                  lines or in a single
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="product__box box-green swiper-slide">
          <div class="product__item">
            <div class="product__item-image">
              <img src="@img/content/product-1.jpg" alt="product-1" />
            </div>
            <div class="product__item-info">
              <div class="product__item-block">
                <img src="@img/icons/benefit.svg" alt="icon" />
                <p>
                  Secondary advantage written in two <br />
                  lines or in a single
                </p>
              </div>
              <div class="product__item-block">
                <img src="@img/icons/benefit.svg" alt="icon" />
                <p>
                  Secondary advantage written in two <br />
                  lines or in a single
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
