<section class="product section" data-anchor="product">
  <div class="product__inner">
    <div class="product-navigation">
      <div class="product-slider-next mb-32">
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.6649 15.0669L15.6649 27.0002"
            stroke="#006657"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M8.99695 15.0669L22.3329 15.0669L15.6649 4.48427L12.3309 9.7756L11.4975 11.0984"
            stroke="#006657"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="product-slider-prev">
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.6649 16.9331L15.6649 4.99976"
            stroke="#006657"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M8.99695 16.9331L22.3329 16.9331L15.6649 27.5157L12.3309 22.2244L11.4975 20.9016"
            stroke="#006657"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
    <div class="product__info-slider">
      <div class="swiper-wrapper">
        <div class="product__box box-green product-info-box swiper-slide">
          <div class="product__info">
            <div class="product__info-tag">Premium</div>
            <h2 class="product__info-title title-2 mb-24">
              The Name <br />
              of a Product
            </h2>
            <p class="product__info-text mb-32">
              If you regularly take notes, with this app, you can organise them by creating
              cross-references and adding tags. Of particular note is the ability to combine
              multiple messages into one.
            </p>
            @@include('./default-link-white.html', {'text':'Contact Us', 'href':'#'})
          </div>
        </div>
        <div class="product__box box-green product-info-box swiper-slide">
          <div class="product__info">
            <div class="product__info-tag">Premium</div>
            <h2 class="product__info-title title-2 mb-24">
              The Name <br />
              of a Product
            </h2>
            <p class="product__info-text mb-32">
              If you regularly take notes, with this app, you can organise them by creating
              cross-references and adding tags. Of particular note is the ability to combine
              multiple messages into one.
            </p>
            @@include('./default-link-white.html', {'text':'Contact Us', 'href':'#'})
          </div>
        </div>
        <div class="product__box box-green product-info-box swiper-slide">
          <div class="product__info">
            <div class="product__info-tag">Premium</div>
            <h2 class="product__info-title title-2 mb-24">
              The Name <br />
              of a Product
            </h2>
            <p class="product__info-text mb-32">
              If you regularly take notes, with this app, you can organise them by creating
              cross-references and adding tags. Of particular note is the ability to combine
              multiple messages into one.
            </p>
            @@include('./default-link-white.html', {'text':'Contact Us', 'href':'#'})
          </div>
        </div>
      </div>
    </div>
    <div class="product__items-slider">
      <div class="swiper-wrapper">
        <div class="product__box box-green swiper-slide">
          <div class="product__item">
            <div class="product__item-image">
              <img src="@img/content/product-1.jpg" alt="product-1" />
            </div>
            <div class="product__item-info">
              <div class="product__item-block">
                <img src="@img/icons/benefit.svg" alt="icon" />
                <p>
                  Secondary advantage written in two <br />
                  lines or in a single
                </p>
              </div>
              <div class="product__item-block">
                <img src="@img/icons/benefit.svg" alt="icon" />
                <p>
                  Secondary advantage written in two <br />
                  lines or in a single
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="product__box box-green swiper-slide">
          <div class="product__item">
            <div class="product__item-image">
              <img src="@img/content/product-1.jpg" alt="product-1" />
            </div>
            <div class="product__item-info">
              <div class="product__item-block">
                <img src="@img/icons/benefit.svg" alt="icon" />
                <p>
                  Secondary advantage written in two <br />
                  lines or in a single
                </p>
              </div>
              <div class="product__item-block">
                <img src="@img/icons/benefit.svg" alt="icon" />
                <p>
                  Secondary advantage written in two <br />
                  lines or in a single
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="product__box box-green swiper-slide">
          <div class="product__item">
            <div class="product__item-image">
              <img src="@img/content/product-1.jpg" alt="product-1" />
            </div>
            <div class="product__item-info">
              <div class="product__item-block">
                <img src="@img/icons/benefit.svg" alt="icon" />
                <p>
                  Secondary advantage written in two <br />
                  lines or in a single
                </p>
              </div>
              <div class="product__item-block">
                <img src="@img/icons/benefit.svg" alt="icon" />
                <p>
                  Secondary advantage written in two <br />
                  lines or in a single
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
