:root {
  --doc-height: 100%;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
}

*::-webkit-scrollbar {
  width: 10px;
  border-radius: 8px;
}
*::-webkit-scrollbar-track {
  background-color: #a79a88;
}
*::-webkit-scrollbar-thumb {
  background-color: $primary-light;
  border-radius: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

a {
  display: inline-block;
}

button {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 30px;
}

body {
  min-width: 320px;
  position: relative;
  overflow-x: hidden;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px !important;
  line-height: 29px !important;

  color: rgba($white, 0.64);
}

section {
  overflow-x: clip !important;
  height: 100vh; /* fallback for Js load */
  height: var(--doc-height);
}
