$white: #ffffff;
$primary: #00463c;
$primary-light: #006657;
$gray: #e0e0e0;
$red: #d02b2b;
$beige: #ffedd6;

// media queries
$breakpoint-xxl: 1400px;
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-xs: 360px;
