.about {
  background-image: url('../images/global/about-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .fp-overflow {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__inner {
    padding: 24px;
    max-width: 512px;
    width: 100%;
    color: $primary;
    text-align: left;
  }
  &__title,
  &__subtitle {
    text-align-last: left;
  }
  &-mobile__bg {
    display: none;
  }

  @media (max-width: 800px) {
    position: relative;
    background: $beige;
    &__text {
      opacity: 0.76;
    }
    &-mobile__bg {
      position: absolute;
      display: block;
      &.item-1 {
        top: -70px;
        left: 0;
      }
      &.item-2 {
        bottom: -60px;
        right: 0;
      }
    }
  }
}
