.product {
  &__inner {
    height: 100%;
    display: flex;
    position: relative;
  }
  &-info-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__info {
    max-width: 450px;
    width: 100%;
    &-tag {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #fff;
      margin-bottom: 16px;
      padding: 8px 16px;
      background-color: $primary-light;
      display: inline-block;
      border-radius: 32px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    &-image img {
      width: 960px;
      height: 35.4vmax;
      object-fit: cover;
    }
    &-info {
      padding: 64px 50px;
      display: flex;
      justify-content: space-between;
    }
    &-block {
      width: 100%;
      display: flex;
      align-items: center;
      img {
        width: 40px;
        height: 40px;
        margin-right: 16px;
      }
    }
  }

  // sliders
  .product__info-slider,
  .product__items-slider {
    overflow: hidden;
    width: 50%;

    .box-green {
      width: 100%;
    }
  }
  .product-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 160px;
    z-index: 10;
    div {
      cursor: pointer;
      svg path {
        transition: all 0.3s;
      }
      &:hover {
        svg path {
          stroke: #fff;
        }
      }
    }
  }
}
